
/* 
    Created on : Oct 9, 2015, 7:54:20 AM
    Author     : Steve Holt
*/

header, footer, section, article {
    border: 1px solid grey;
    padding: 8px;
    background-color: #ddd;
}

header, footer {
    color: white;
    background-color: #444;
    margin-bottom: 5px;
    text-align: center;
    clear: left;
}

p#demo {color: white; background-color: black;}

section#buttons {
    width: 526px;
}
section#probTable, section#expProb, section#theoProb {
    float:left;
    max-width: 360px;
}

section#canvasSection {
    width: 300px;
}

canvas#myCanvas {
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}
nav {
   border: 2px solid black;
}
table {
    border-collapse: collapse;
    width: 350px;
}
table, th, td{
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: #F0F0F0;
    width: 300px;
    }

td {
    background-color: white;
}

td.percent {text-align: right;}


